/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }
  /* LINKS */
  .link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links li {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links li:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
  .logos li{
    padding: 10px;
  }
  
  .logos {
    list-style: none;
    padding: 0;
    display: flex;
    color: white;
  }
  